<div id="about-page">
<h2>The Idea of Sharing Knowledge</h2>
<p>Open Science and Open Access are hotly debated today in the academic world. Most scholars are in favour of sharing their knowledge freely, even if there is no guarantee that they will get something in return. Apparently they assume that there is some greater good involved in sharing knowledge. Where does this ideal of knowledge come from?</p>
 
<h2>The Republic of Letters</h2>
<p>The project ‘Sharing Knowledge in Learned and Literary Networks – The Republic of Letters as a Pan-European Knowledge Society’ (SKILLNET) starts from the idea that the ideal of sharing knowledge is a legacy of a bottom-up social network of scholars and scientists. These scholars transcended religious, political and linguistic boundaries through their correspondence with one another. From about 1400 to around 1800, the ‘citizens’ of this European knowledge-based civil society referred to their own community as the ‘Republic of Letters’.
The people who constituted this ‘Republic’ have left behind hundreds of thousands of letters. Through these we can analyse how the Republic of Letters functioned as a social network devoted to the production and management of knowledge as a common property resource. </p>

</div>
