### NAME: FAQ / Veelgestelde vragen ###

See an overview of the frequently asked questions below:

<div id="accordion">
  <h3>How Do I Add a Question?</h3>
  <div>
    <p>
      Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
      ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
      amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
      odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
    </p>
  </div>
  <h3>How Do I Add Another Question?</h3>
  <div>
    <p>
      By copying the part between `<h3>` and `</div>`.
    </p>
  </div>
</div>
