### NAME: FAQ / Veelgestelde vragen ###

Hieronder volgt een overzicht van de meestgestelde vragen (met antwoorden).
For the <a href="#faq/#english" onclick="$([document.documentElement, document.body]).animate({
            scrollTop: $('#english').offset().top - 200
    }, 1000);">English FAQ scroll down</a>.

<div class="accordion">
  <h3>Wat is CEMROL?</h3>
  <div>
    <p>
      CEMROL staat voor Collecting Epistolary Metadata of the Republic of Letters, een crowdsourcingproject waaraan iedereen met belangstelling voor geschiedenis of voor brieven kan meedoen. CEMROL is onderdeel van het door de Europese Unie gefinancierde project SKILLNET (zie <a href="https://skillnet.nl" target="_blank">skillnet.nl</a>) onder leiding van dr. Dirk van Miert (Universiteit van Utrecht). Het SKILLNET project – Sharing Knowledge in Learned and Literary Networks  – richt zich op de internationale gemeenschap van geleerden in Europa van 1500 tot 1800, ook wel de “Republiek der Letteren” genoemd. Het doel van CEMROL is om met de hulp van het publiek metadata van brieven uit gescande boeken te ontsluiten.
    </p>
  </div>
  <h3>Hoe kan ik een profiel aanmaken?</h3>
  <div>
    <p>
      Iedereen die wil kan via de knop rechtsboven op de homepagina een eigen profiel aanmaken. U kunt zich aanmelden door uw naam, e-mailadres, en een zelfgekozen wachtwoord in te vullen. Geregistreerde gebruikers hebben na het inloggen toegang tot een persoonlijke pagina. Hier kunt u het aantal pagina’s dat u heeft gemarkeerd en/of getranscribeerd bekijken. Ook kunt u hier de titels van de boeken waaraan u heeft gewerkt terugvinden. Het aanmaken van een profiel is geheel vrijblijvend en bedoeld om u meer inzicht te geven in uw voortgang. Bovendien leren wij meer over de inzet van onze enthousiaste vrijwilligers en helpt u ons om de kwaliteit van ons project te waarborgen.
    </p>
  </div>
  <h3>Kan ik ook markeren en transcriberen als ik niet ben aangemeld/ingelogd?</h3>
  <div>
    <p>
      Het is mogelijk om zonder account te markeren en transcriberen. Alle markeringen en transcripties worden dan anoniem opgeslagen in CEMROL.
    </p>
  </div>
    <h3>Waarom markeren?</h3>
  <div>
    <p>
      Om de metadata van brieven uit de Republiek der Letteren te ontsluiten, is het van belang om eerst te weten waar deze gegevens zich bevinden. Daarom vragen wij het publiek om aan te geven waar in de gescande boeken brieven beginnen en eindigen, waar de namen van briefschrijvers en ontvangers staan, alsmede de datum en de plaats van verzending, en liefst ook de plaats van adressering. Deze markeringen kunnen worden gemaakt door een vak te trekken om het gedeelte dat deze metadata bevat. Dit vormt te basis voor het transcriberen.
    </p>
  </div>
   <h3>Hoe begin ik met markeren?</h3>
  <div>
    <p>
      Om te beginnen met markeren, klikt u op de knop “mark” bovenaan de homepagina. Als u alleen brieven in een bepaalde taal wil transcriberen, ga dan naar de Home Page (druk op “Home” linksboven) en kies een taal. U kunt zelf kiezen aan welk boek u wilt werken. Na uw keuze zullen er automatisch invoerinstructies verschijnen. Leest u deze zorgvuldig door. Deze instructies zijn ook terug te vinden op de “View a Tutorial” knop rechtsonder op het markeerscherm. Om te beginnen met markeren volgt u de checklist in het rechtermenu.
    </p>
  </div>
     <h3>Tijdens het markeren wordt er gevraagd: Is there anything left to mark on this page? Wat wordt hiermee bedoeld?</h3>
  <div>
    <p>
      Het is uw taak om de belangrijke delen van een brief in een editie te markeren en te controleren. De vraag Is there anything left to mark on this page? heeft twee antwoordmogelijkheden, namelijk “yes” of “no”. </p>
    <p> Het antwoord is No. 
        Er kunnen pagina’s worden weergeven waarop niks te markeren is. CEMROL laat u namelijk ook pagina’s zien vanuit het midden van een (hele lange) brief. Ook zal het voorkomen dat u bestaande markeringen van andere vrijwilligers zult zien. In CEMROL worden alle pagina’s tweemaal weergegeven om de kwaliteit van de ingevoerde gegevens te waarborgen. Ziet u dat een vrijwilliger al markeringen heeft aangebracht? Controleer goed of er nog andere gegevens zijn die gemarkeerd moeten worden. Indien alles is gemarkeerd, dan kunt u het antwoord “no” aanvinken. Door te klikken op de “next” knop gaat u door naar een volgende pagina. Ziet u dat er nog markeringen ontbreken, kies dan voor “yes” om deze aan te vullen aan de hand van de vragen in de checklist.</p> 
    <p> Het antwoord is Yes.
        Ziet u een lege pagina met ongemarkeerde data? Dan kunt u de vraag met “yes” beantwoorden. U wordt vervolgens gevraagd om aan te geven waar brieven beginnen en eindigen, waar de namen van de afzenders en ontvangers staan, waar de datum en de plaats van verzending staan, en liefst ook de plaats van adressering. Zijn er al markeringen aangebracht, maar ontbreken er nog gegevens? Ook dan kiest u voor “yes” om de ontbrekende markeringen aan te vullen aan de hand van de vragen in de checklist.</p>
  </div>
     <h3>Hoe begin ik met transcriberen?</h3>
  <div>
    <p>
      Klik op de knop “transcribe” om het transcriberen te starten. Als u alleen brieven in een bepaalde taal wil transcriberen, ga dan naar de Home Page (druk op “Home” linksboven) en kies een taal. U kunt zelf kiezen aan welk boek u wilt werken. Is het uw eerste bezoek aan CEMROL? Lees dan eerst zorgvuldig de invoerinstructies door. Deze kunt u vinden aan de rechterkant van de pagina, nadat u een boek heeft geselecteerd. Door te klikken op de knop “View a tutorial” opent de handleiding. U wordt gevraagd om de namen, plaatsen en data letterlijk over te typen.
    </p>
  </div>
     <h3>Ik krijg bij het markeren niet het begin van een brief te zien maar val middenin een boek/brief/tekst. Hoe komt dit?</h3>
  <div>
    <p>
      CEMROL is een crowdsourcingproject waaraan iedereen met belangstelling voor geschiedenis of voor brieven kan meedoen. Iedereen, waar en wanneer dan ook, kan de gegevens over brieven markeren en transcriberen uit gescande boeken. Dit betekent dat u vaak wordt gevraagd verder te gaan gaat waar een ander gestopt is met markeren en/of transcriberen. Hierdoor is het mogelijk dat u middenin een brief terechtkomt. Bovendien worden alle pagina’s tweemaal gecontroleerd om de kwaliteit van de invoer te garanderen.</p>
    <p> Wij kunnen ons voorstellen dat het saai is dat er veel pagina’s voor bij komen waar geen markeringen voor nodig zijn. Wij adviseren dan om even een ander boek uit de lijst te kiezen.</p>
  </div>
       <h3>Het programma lijkt paginas over te slaan: na bladzijde 100 volgt niet 101 maar 121 of zelfs 201. Hoe komt dit?</h3>
  <div>
    <p>
      CEMROL is een crowdsourcingproject waaraan iedereen een steentje kan bijdragen. U gaat dus vaak aan de slag waar een ander is gestopt met markeren en/of transcriberen. Hierdoor is het mogelijk dat de volgorde van de pagina’s verandert. Bovendien wordt elke pagina tweemaal weergegeven om elkaars inbreng te controleren. Na de tweede controleronde zal de pagina worden opgeslagen en uit de lijst worden gehaald. Ook hierdoor zal de volgorde van de pagina’s veranderen. Pagina’s worden ook overgeslagen wanneer een andere vrijwilliger op hetzelfde moment aan het markeren is in hetzelfde boek.
      </p>
  </div>
       <h3>Waarom krijg ik een pagina te zien die al gemarkeerd is? Wat moet ik nu doen?</h3>
  <div>
    <p>
      Alle pagina’s worden tweemaal weergegeven om de inbreng te verifiëren. Als u een pagina ziet die al gemarkeerd is dan kunt u deze markeringen controleren. Is alles gemarkeerd dan is het antwoord op de vraag Is there anything left to mark on this page “no”. U krijgt vervolgens de eerstvolgende beschikbare pagina te zien. Ziet u nog gegevens die nog gemarkeerd worden dan is het antwoord “yes” en is het mogelijk om de ontbrekende markeringen toe te voegen aan de hand van de vragen die rechts op het scherm gesteld worden. U hoeft de markeringen niet tweemaal in te voeren, maar selecteert alleen de ontbrekende gegevens.
      </p>
  </div>
       <h3>Ik heb een fout gemaakt, of heb per ongeluk op “next” gedrukt terwijl ik de vraag niet juist heb beantwoord. Is het mogelijk om mijn fout te herstellen?</h3>
  <div>
    <p>
      Het is niet mogelijk om terug te gaan naar een eerdere pagina en verbeteringen aan te brengen. Het herstellen van fouten in CEMROL levert veel problemen op omdat vrijwilligers aan dezelfde boeken werken. Gelukkig is het niet erg als u een keer een fout maakt. Deze komen boven water bij de controle (elke pagina wordt tweemaal weergegeven) en na het werk van de vrijwilligers kijken wij het werk ook nog een keer na en passen het zo nodig aan.
      </p>
  </div>
       <h3>Bij het transcriberen wordt aangegeven dat je de tekst letterlijk moet overnemen. Hoe zit het met afkortingen, Romeinse cijfers, en standaard uitdrukkingen?</h3>
  <div>
    <p>
      U wordt gevraagd om de namen en data letterlijk over te typen. Afkortingen mogen wel uitgeschreven worden en de Romeinse cijfers kunnen letterlijk worden overgenomen.
      </p>
  </div>
       <h3>Wat moet ik doen als ik gevraagd wordt de verkeerde informatie te transcriberen (als bijvoorbeeld niet de datum maar de afzender is gemarkeerd)?</h3>
  <div>
    <p>
      Indien u er zeker van bent dat de markering fout is, of de informatie is niet goed te lezen, bijvoorbeeld wanneer het markeringshokje te klein is, dan vragen wij u op de kop “bad mark” te drukken. Wij zullen de markeringen dan controleren en herstellen. In geval van twijfel, probeer dan toch de informatie letterlijk over te nemen. Is het hokje te groot en staan er meer gegevens in dan gevraagd, neem dan alleen over wat er gevraagd wordt (bijvoorbeeld, alleen de datum of de plaatsnaam).
      </p>
  </div>
  <h3>De naam van de afzender (of de naam van eenzelfde afzender en ontvanger) wordt bovenaan elke pagina van het boek herhaald (op elke bladzijde in de koptekst). Moet ik deze naam/namen telkens opnieuw markeren? Moet ik deze data transcriberen als het steeds opnieuw gemarkeerd is?</h3>
  <div>
    <p>
      De data in de koptekst van de boeken (bovenaan de pagina, vaak de afzender of de afzender en ontvanger van de brieven) hoeft niet gemarkeerd te worden. In collecties van brieven tussen twee personen (dus constant dezelfde afzender en ontvanger) of van één persoon (steeds dezelfde afzender of ontvanger) worden de namen vaak niet steeds herhaald boven of onderaan de afzonderlijke brieven maar wel in de koptekst. Het is niet nodig deze data te markeren omdat we aan de eerste brief (of de eerste paar brieven) kunnen zien om welke personen het gaat. Is de data door een andere vrijwilliger gemarkeerd en wordt u gevraagd de data te transcriberen? Druk dan op Bad Mark en ga verder met de volgende transcriptie. De informatie is dus namelijk overbodig. Daarbij komt dat het wat saai is om constant dezelfde informatie te markeren en transcriberen.
    </p>
  </div>
         <h3>Staat uw vraag niet op de FAQ pagina?</h3>
  <div>
    <p>
      Heeft u geen antwoord op uw vraag gevonden? U kunt ook de handleidingen raadplegen. Deze kunt u vinden aan de rechterkant van de markering- en transcriptie pagina’s. Door te klikken op de “View a Tutorial” knop opent de handleiding. Hierin wordt CEMROL stap voor stap uitgelegd met duidelijke video’s. 
      Indien u nog steeds het antwoord op uw vraag niet heeft gevonden, stuur deze dan naar <a href="mailto:skillnet@uu.nl">skillnet@uu.nl</a> en wij helpen u graag verder.
      </p>
  </div>
</div>
<h2 id="english">English FAQ</h2>
<div class="accordion">
 <h3>What is CEMROL?</h3>
  <div>
    <p>
      CEMROL is the acronym for Collecting Epistolary Metadata of the Republic of Letters, a crowdsourcing project in which everyone with an interest in history or letters can participate. CEMROL is part of the Skillnet project (see <a href="https://skillnet.nl" target="_blank">skillnet.nl</a>), which is run by dr Dirk van Miert, financed by the ERC, and hosted by the University of Utrecht. Skillnet, Sharing Knowledge in Learned and Literary Networks, concentrates on the international community of scholars in Europe between 1500 to 1800, also known as the ‘Republic of Letters’. The aim of Cemrol is to gather the metadata of early modern letters, using scanned publications, with the help of the public.
      </p>
  </div>
   <h3>How can I sign up?</h3>
  <div>
    <p>
      Everyone who is interested in Cemrol can create a profile, by clicking on Log in at the top right corner of the page. You sign up by sharing your name and email and choosing a password. Registered users have access to a personal page after they log in: they can take a look at the number of pages they have marked or transcribed and see the titles of the books of letters they have worked on. Signing up is voluntary, free, and without obligation. It merely gives the volunteer insight into their progress and it gives the Skillnet team an idea of the work the volunteers are doing. It also helps us to insure the quality of our platform.
    </p>
  </div>
   <h3>Do I have to sign up to mark or transcribe letters?</h3>
  <div>
    <p>
      Not at all. It is possible to contribute to Cemrol without a log-in. In that case your marks and transcriptions will be saved in Cemrol under an anonymous identity.
      </p>
  </div>
   <h3>Why do you want us to mark the letters?</h3>
  <div>
    <p>
      To gather the metadata of the letters that were exchanged in the Republic of Letters, it is important to know where we can find this information. Therefore we ask our volunteers to tell us where, on the pages of the scanned publications, important data can be found: the start and end of the letter, the date, the sender and recipient, and so on. These so-called marks can be added to the page by drawing a box around it.</p>
  </div>
   <h3>How do I start marking?</h3>
  <div>
    <p>
      To start marking, press ‘Mark’ on the top of the page. Alternatively, if you only want to mark letters in a certain language, press ‘Home’ on the top left and choose a language on the homepage. The platform will now let you choose a book of letters. After you have done so, the platform will direct you first to a tutorial on how to mark. Please read this carefully. After this you should see a page from an early modern letter. The questions in the menu on the right will guide your through the marking process.
      </p>
  </div>
   <h3>The first question I get asked when I am marking letters is: Is there anything left to mark on this page? Can you explan this question?</h3>
  <div>
    <p>
      When you choose to mark a letter, it is your job to mark the metadata of letters page by page. The question asked can be answered in two ways:</p>
      <p> The answer is No. 
      You might see a page that does not contain any text or that contains no metadata (no recipient, date, sender etc). You might have reached the end of a book or the platform is showing you a page in the middle of a (very long ) letter. In this case you answer No, press Next and move on.
      It is also possible that the page you see has already been marked: to make sure the data that is saved is of a high quality, every page has to be checked once after it has been marked. Have a close look at the page if this happens. Is all the metadata already marked correctly? Press No and Next and move on to the next page. If there is still data to mark, press Yes and Next and move on.
      We understand that it can be very boring to just check pages: pick a different language and/or book to avoid this.</p>
      
      <p> The answer is Yes.
      Do you see a text with metadata? Answer Yes to the question, press Next and start marking the different types of data. Does the page already have marks ut are they (partially) incorrect or has certain data not been marked yet? Then again you answer Yes, press Next and start adding the missing marks.
      </p>
  </div>
   <h3>How do I start to transcribe?</h3>
  <div>
    <p>
      To start transcribing, press ‘Transcribe' on the top of the page. Alternatively, if you only want to transcribe letters in a certain language, press ‘Home’ on the top left and choose a language on the homepage. The platform will now let you choose a book of letters. If you have not transcribed before then have a good look at the Tutorial: it can be found in the menu on the right. During this task you type in (transcribe) the different types of data.
      </p>
  </div>
   <h3>When I am marking letters I do not see the start of a letter but the platform shows me a random page of a letter/book. What is going on? </h3>
  <div>
    <p>
      Cemrol is a crowdsourcing project in which volunteers can help us mark and transcribe data. This means you often pick up where a different volunteer has stopped, at the beginning, in the middle, or at the end of a letter. In addition, pages have to be marked twice before the data is send to the transcribe-function and disappears from the mark-function (with a short delay).
      We understand that it can be very boring to just check pages with no data: pick a different language and/or book to avoid this.
      </p>
  </div>
   <h3>The program seems to skip letters: after page 100 I see not page 101 but page 121 or even 201. What is going on? </h3>
  <div>
    <p>
      Cemrol is a crowdsourcing project in which volunteers can help us mark and transcribe data. This means you often pick up where a different volunteer has stopped, at the beginning, in the middle, or at the end of a letter. In addition, pages have to be marked twice before the data is send to the transcribe-function and disappears from the mark-function (with a short delay). This means that the order of the pages is sometimes mixed up. It can also be the case that a different volunteer is working on the same book at the same time.
      We understand that it can be very boring to just see random pages: pick a different language and/or book to avoid this.
      </p>
  </div>
   <h3>Why do I see a page that is already marked? What should I do now?</h3>
  <div>
    <p>
      We have chosen for all the pages to be marked twice, to insure the quality of the data that is transcribed. If you see a page that is already marked it is your job to check if all the data is marked and marked correctly. If this is the case you answer the first question (Is there anything left to mark on this page) with No. If there is data left to mark you answer Yes and add these marks. Please do not mark the same data twice, unless is has been incorrectly marked.  
      </p>
  </div>
   <h3>I have made a mistake in marking/transcribing and/or I have pressed Next before I had marked/transcribed the data. Why can I not go back to a previous mark, transcription or page to correct my mistake? Can I correct my mistake in a different fashion? </h3>
  <div>
    <p>
      It is not possible to return to a previous mark, transcription or page and change your entry or entries. Allowing people to alter their entries creates great issues in the program since, for example, multiple volunteers can be working on the same book at the same time. Do not worry, it is not a problem at all if you make a mistake. All the markings are checked and after the work of volunteers researchers on our team will check the information as well and will alter it if necessary.
      </p>
  </div>
   <h3>When I am transcribing I am asked to copy the text literally. What should I do when I encounter abbreviations, Roman numerals, and standard expressions?</h3>
  <div>
    <p>
      We ask you to copy the text literally, so please copy what you see. Abbreviations can be written out in full, please copy Roman numerals and expressions.
      </p>
  </div>
     <h3>What should I do when I am asked to transcribe the wrong information (if for example not the date but the recipient has been marked)?</h3>
  <div>
    <p>
      If you are certain the information is wrong, or if you cannot read the data well, please press Bad Mark at the bottom of the transcribe menu that pops up. We will then check the particular mark. If you are not sure, try to copy the data that is correct in your opinion.
      </p>
  </div>
<h3>The name of the sender (or the name of the same sender and recipient) is repeated at the top of every page (in the heading). Should I mark this name/these names? Should I transcribe this information?</h3>
  <div>
    <p>
      The data in the heading of the books (often found at the top of the page, stating the sender or the sender and recipient of the letters) should not be marked. In correspondences between two persons (constantly the same recipient and sender) or belonging to one person (repeating the same sender or recipient) names are often missing from the start and/or end of every singular letter but added to the heading instead. It is not necessary to mark or transcribe this data: the first (couple of) letters(s) already show us which persons sent (and received) the letters. Has the data been marked by a different volunteer and are you asked to transcribe it? Click on Bad Mark and continue with the next transcription: the information is superfluous and it is quite boring to mark or transcribe the same names over and over again.
    </p>
  </div>
     <h3>My question is not listed on the FAQ page.</h3>
  <div>
    <p>
      If this page has failed to answer your question, please have a look at the Introduction and About pages (see the menu at the top of this page) or check the tutorials (linked in the menu on the left when you are marking or transcribing letters).
      Still confused? Please get in touch with us: send an email to <a href="mailto:skillnet@uu.nl">skillnet@uu.nl</a>. We look forward to hearing from you.
      </p>
  </div>
</div>
