### NAME: FAQ / Veelgestelde vragen ###

See an overview of the frequently asked questions below:

<div id="accordion">
  <h3>Wat is CEMROL?</h3>
  <div>
    <p>
      CEMROL staat voor Collecting Epistolary Metadata of the Republic of Letters, een crowdsourcingproject waaraan iedereen met belangstelling voor geschiedenis of voor brieven kan meedoen. CEMROL is onderdeel van het door de Europese Unie gefinancierde project SKILLNET [link] onder leiding van dr. Dirk van Miert (Universiteit van Utrecht). Het SKILLNET project – Sharing Knowledge in Learned and Literary Networks  – richt zich op de internationale gemeenschap van geleerden in Europa van 1500 tot 1800, ook wel de “Republiek der Letteren” genoemd. Het doel van CEMROL is om met de hulp van het publiek metadata van brieven uit gescande boeken te ontsluiten.
    </p>
  </div>
  <h3>Hoe kan ik een profiel aanmaken?</h3>
  <div>
    <p>
      Iedereen die wil kan via de knop rechtsboven op de homepagina een eigen profiel aanmaken. U kunt zich aanmelden door uw naam, e-mailadres, en een zelfgekozen wachtwoord in te vullen. Geregistreerde gebruikers hebben na het inloggen toegang tot een persoonlijke pagina. Hier kunt u het aantal pagina’s dat u heeft gemarkeerd en/of getranscribeerd bekijken. Ook kunt u hier de titels van de boeken waaraan u heeft gewerkt terugvinden. Het aanmaken van een profiel is geheel vrijblijvend en bedoeld om u meer inzicht te geven in uw voortgang. Bovendien leren wij meer over de inzet van onze enthousiaste vrijwilligers en helpt u ons om de kwaliteit van ons project te waarborgen.
    </p>
  </div>
  <h3>Kan ik ook markeren en transcriberen als ik niet ben aangemeld/ingelogd?</h3>
  <div>
    <p>
      Het is mogelijk om zonder account te markeren en transcriberen. Alle markeringen en transcripties worden dan anoniem opgeslagen in CEMROL.
    </p>
  </div>
    <h3>Waarom markeren?</h3>
  <div>
    <p>
      Om de metadata van brieven uit de Republiek der letteren te ontsluiten, is het van belang om eerst te weten waar deze gegevens zich bevinden. Daarom vragen wij het publiek om aan te geven waar in gescande boeken brieven beginnen en eindigen, waar de namen van briefschrijvers en ontvangers staan, alsmede de datum en de plaats van verzending, en liefst ook de plaats van adressering. Deze markeringen kunnen worden gemaakt door een vak te trekken om het gedeelte dat deze metadata bevat. Dit vormt te basis voor het transcriberen.
    </p>
  </div>
   <h3>Hoe begin ik met markeren?</h3>
  <div>
    <p>
      Om te beginnen met markeren, klikt u op de knop “mark” bovenaan de homepagina. Als u alleen brieven in een bepaalde taal wil transcriberen, ga dan naar de Home Page (druk op “Home” linksboven) en kies een taal. U kunt zelf kiezen aan welk boek u wilt werken. Na uw keuze, zullen er automatisch invoerinstructies verschijnen. Leest u deze zorgvuldig door. Deze instructies zijn ook terug te vinden op de “View a Tutorial” knop rechtsonder op het markeerscherm. Om te beginnen met markeren volgt u de checklist in het rechtermenu.
    </p>
  </div>
     <h3>Tijdens het markeren wordt er gevraagd: Is there anything left to mark on this page? Wat wordt hiermee bedoeld?</h3>
  <div>
    <p>
      Het is uw taak om de belangrijke delen van een brief in een editie te markeren en te controleren. De vraag Is there anything left to mark on this page? heeft twee antwoordmogelijkheden, namelijk “yes” of “no”.
      
      Antwoord “no”
      Er kunnen pagina’s worden weergeven waarop niks te markeren is. CEMROL laat u namelijk ook pagina’s zien vanuit het midden van een (hele lange) brief. Ook zal het voorkomen dat u bestaande markeringen van andere vrijwilligers zult zien. In CEMROL worden alle pagina’s tweemaal weergegeven om de kwaliteit van de ingevoerde gegevens te waarborgen. Ziet u dat een vrijwilliger al markeringen heeft aangebracht? Controleer goed of er nog andere gegevens zijn die gemarkeerd moeten worden. Indien alles is gemarkeerd, dan kunt u het antwoord “no” aanvinken. Door te klikken op de “next” knop gaat u door naar een volgende pagina. Ziet u dat er nog markeringen ontbreken, kies dan voor “yes” om deze aan te vullen aan de hand van de vragen in de checklist.  
      
      Antwoord “yes”
      Ziet u een lege pagina met ongemarkeerde data? Dan kunt u de vraag met “yes” beantwoorden. U wordt vervolgens gevraagd om aan te geven waar brieven beginnen en eindigen, waar de namen van de afzenders en ontvangers staan, waar de datum en de plaats van verzending staan, en liefst ook de plaats van adressering. Zijn er al markeringen aangebracht, maar ontbreken er nog gegevens? Ook dan kiest u voor “yes” om de ontbrekende markeringen aan te vullen aan de hand van de vragen in de checklist.
    </p>
  </div>
     <h3>Hoe begin ik met transcriberen?</h3>
  <div>
    <p>
      Klik op de knop “transcribe” om het transcriberen te starten. Als u alleen brieven in een bepaalde taal wil transcriberen, ga dan naar de Home Page (druk op “Home” linksboven) en kies een taal. U kunt zelf kiezen aan welk boek u wilt werken. Is het uw eerste bezoek aan CEMROL? Lees dan eerst zorgvuldig de invoerinstructies door. Deze kunt u vinden aan de rechterkant van de pagina, nadat u een boek heeft geselecteerd. Door te klikken op de knop “View a tutorial” opent de handleiding. U wordt gevraagd om de namen, plaatsen en data letterlijk over te typen.
    </p>
  </div>
     <h3>Ik krijg bij het markeren niet het begin van een brief te zien maar val middenin een boek/brief/tekst. Hoe komt dit?</h3>
  <div>
    <p>
      CEMROL is een crowdsourcingproject waaraan iedereen met belangstelling voor geschiedenis of voor brieven kan meedoen. Iedereen, waar en wanneer dan ook, kan de gegevens over brieven markeren en transcriberen uit gescande boeken. U gaat dus verder waar een ander gestopt is met markeren en/of transcriberen. Hierdoor is het mogelijk dat u middenin een brief terechtkomt. Bovendien worden alle pagina’s tweemaal gecontroleerd om de kwaliteit van de invoer te garanderen. Wij kunnen ons voorstellen dat het saai is dat er veel pagina’s voor bij komen waar geen markeringen voor nodig zijn. Wij adviseren dan om even een ander boek uit de lijst te kiezen.
      </p>
  </div>
       <h3>Het programma lijkt paginas over te slaan: na bladzijde 100 volgt niet 101 maar 121 of zelfs 201. Hoe komt dit?</h3>
  <div>
    <p>
      CEMROL is een crowdsourcingproject waaraan iedereen een steentje kan bijdragen. U gaat dus aan de slag waar een ander is gestopt met markeren en/of transcriberen. Hierdoor is het mogelijk dat de volgorde van de pagina’s veranderd. Bovendien wordt elke pagina tweemaal weergegeven om elkaars inbreng te controleren. Na de tweede controleronde, zal de pagina worden opgeslagen en uit de lijst worden gehaald. Ook hierdoor zal de volgorde van de pagina’s veranderen. Pagina’s worden ook overgeslagen wanneer een andere vrijwilliger op hetzelfde moment aan het markeren is in hetzelfde boek.
      </p>
  </div>
       <h3>Waarom krijg ik een pagina te zien die al gemarkeerd is? Wat moet ik nu doen?</h3>
  <div>
    <p>
      Alle pagina’s worden tweemaal weergegeven om de inbreng te verifiëren. Als u een pagina ziet die al gemarkeerd is dan kunt u deze markeringen controleren. Is alles gemarkeerd dan is het antwoord op de vraag Is there anything left to mark on this page “no”. U krijgt vervolgens de eerstvolgende beschikbare pagina te zien. Ziet u nog gegevens die nog gemarkeerd worden dan is het antwoord “yes” en is het mogelijk om de ontbrekende markeringen toe te voegen aan de hand van de vragen die rechts op het scherm gesteld worden. U hoeft de markeringen niet tweemaal in te voeren, maar selecteert alleen de ontbrekende gegevens.
      </p>
  </div>
       <h3>Ik heb een fout gemaakt, of heb per ongeluk op “next” gedrukt terwijl ik de vraag niet juist heb beantwoord. Is het mogelijk om mijn fout te herstellen?</h3>
  <div>
    <p>
      Het is niet mogelijk om terug te gaan naar een eerder pagina en verbeteringen aan te brengen. Het herstellen van fouten in CEMROL levert veel problemen op omdat vrijwilligers aan dezelfde boeken werken. Gelukkig is het niet erg als u een keer een fout maakt. Deze komen boven water bij de controle (elke pagina wordt tweemaal weergegeven) en na het werk van de vrijwilligers kijken wij het werk ook nog een keer na en passen het zo nodig aan.
      </p>
  </div>
       <h3>Bij het transcriberen wordt aangegeven dat je de tekst letterlijk moet overnemen. Hoe zit het met afkortingen, Romeinse cijfers, en standaard uitdrukkingen?</h3>
  <div>
    <p>
      U wordt gevraagd om de namen en data letterlijk over te typen. Afkortingen mogen wel uitgeschreven worden en de Romeinse cijfers kunnen letterlijk worden overgenomen.
      </p>
  </div>
       <h3>Wat moet ik doen als ik gevraagd wordt de verkeerde informatie te transcriberen (als bijvoorbeeld niet de datum maar de afzender is gemarkeerd)?</h3>
  <div>
    <p>
      Indien u er zeker van bent dat de markering fout is, of is de informatie is niet goed te lezen, bijvoorbeeld wanneer het markeringshokje te klein is, kunt u op de kop “bad mark” drukken. Wij zullen de markeringen dan controleren en herstellen. In geval van twijfel, probeer dan toch de informatie letterlijk over te nemen. Is het hokje te groot en staan er meer gegevens in dan gevraagd, neem dan alleen over wat er gevraagd wordt (bijvoorbeeld, alleen de datum of de plaatsnaam).
      </p>
  </div>
         <h3>Staat uw vraag niet op de FAQ pagina?</h3>
  <div>
    <p>
      Heeft u geen antwoord op uw vraag gevonden? U kunt ook de handleidingen raadplegen. Deze kunt u vinden aan de rechterkant van de markering- en transcriptie pagina’s. Door te klikken op de “View a Tutorial” knop opent de handleiding. Hierin wordt CEMROL stap voor stap uitgelegd met duidelijke video’s. 
      Indien u nog steeds het antwoord op uw vraag niet heeft gevonden, stuur deze dan naar skillnet@uu.nl en wij helpen u graag verder.
      </p>
  </div>
