<div class="text-shadow">
  <p>Crowdsourcing the Republic of Letters: Help reconstruct the social network of European scholars and scientists in the period 1400-1800.</p>
</div>

<a class="major-button" href="/#/intro" onClick="window.scrollTo(0,0)">Get Started!</a>
<div class="message">
  <p>CEMROL has just started and can be improved. We greatly value your input. If you have any suggestions, please contact us on <a href="mailto:skillnet@uu.nl">skillnet@uu.nl</a> and help making this project more effective. We will shortly be adding the option for a personal login, so that you can keep track of the number of pages you have marked and/or transcribed.</p>
  <p>For more information about the context of this crowdsourcing project, visit <a href="https://www.skillnet.nl" target="_blank">www.skillnet.nl</a></p>
</div>