<div class="text-shadow">
  <p>Crowdsourcing the Republic of Letters: Help reconstruct the social network of European scholars and scientists in the period 1400-1800.</p>
</div>

<a class="major-button" href="/#/intro" onClick="window.scrollTo(0,0)">Get Started!</a>
<div class="message">
  <p>CEMROL’s new newsletter has been published! <a href="https://us20.campaign-archive.com/?u=1ae01df13c30d4a813cfee009&id=8a9182538f" target="_blank">Read it here</a> (in English).</p>
  <p>De nieuwe nieuwsbrief van CEMROL is verschenen! <a href="https://mailchi.mp/309f0c2df3bf/nieuwsbrief-cemrol-december-2020" target="_blank">Lees hem hier</a> (in het Nederlands).</p>
</div>
