<div class="text-shadow">
  <p>Crowdsourcing the Republic of Letters: Help reconstruct the social network of European scholars and scientists in the period 1400-1800.</p>
</div>

<a class="major-button" href="/#/intro" onClick="window.scrollTo(0,0)">Get Started!</a>
<div class="message">
  <p>CEMROL’s new newsletter has been published! <a href="https://mailchi.mp/683cdb6764a8/nieuwsbrief-cemrol-december-12115223" target="_blank">Read it here</a> (in English).</p>
  <p>De nieuwe nieuwsbrief van CEMROL is verschenen! <a href="https://mailchi.mp/d156a7f40e9e/nieuwsbrief-cemrol-december-2019" target="_blank">Lees hem hier</a> (in het Nederlands).</p>
</div>
