<div class="message">
  <h3>PUBLIEKSMIDDAG VOOR CEMROL-VRIJWILLIGERS</h3>
  <p>Om de vrijwilligers van CEMROL te informeren over de laatste stand van zaken en jullie beter te leren kennen organiseren we een publieksbijeenkomst:</p>

  <p>Vrijdag 12 april, 16.00-18.00 uur<br/>
  Universiteit Utrecht, Janskerkhof 2-3, zaal 017</p>
  <ul>
    <li>Presentatie van het SKILLNET-project en hoe we de resultaten van CEMROL gebruiken</li>
    <li>De stand van zaken met betrekking tot het platform</li>
    <li>Mogelijkheid tot het stellen van vragen</li>
    <li>Borrel</li>
  </ul>
  <p>Alsjeblieft <span style="font-weight:bold;color:#FC5424">uiterlijk 31 maart</span> opgeven via <a href="mailto:skillnet@uu.nl">skillnet@uu.nl</a>. Iedereen is van harte welkom!</p>
</div>
<div class="text-shadow">
  <p>Crowdsourcing the Republic of Letters: Help reconstruct the social network of European scholars and scientists in the period 1400-1800.</p>
</div>

<a class="major-button" href="/#/intro" onClick="window.scrollTo(0,0)">Get Started!</a>
<div class="message">
  <p>CEMROL has just started and can be improved. We greatly value your input. If you have any suggestions, please contact us on <a href="mailto:skillnet@uu.nl">skillnet@uu.nl</a> and help making this project more effective. We will shortly be adding the option for a personal login, so that you can keep track of the number of pages you have marked and/or transcribed.</p>
  <p>For more information about the context of this crowdsourcing project, visit <a href="https://www.skillnet.nl" target="_blank">www.skillnet.nl</a></p>
</div>