<div class="text-shadow">
  <p>Crowdsourcing the Republic of Letters: Help reconstruct the social network of European scholars and scientists in the period 1400-1800.</p>
</div>

<a class="major-button" href="/#/intro" onClick="window.scrollTo(0,0)">Get Started!</a>
<div class="message">
  <p>Op <strong>donderdagmiddag 18 november</strong> organiseren we een datasprint voor CEMROL-vrijwilligers in de Universiteitsbibliotheek Utrecht. Ook op het programma staan een <strong>masterclass Romeinse dateringen</strong> en we zullen <strong>originele brieven en oude drukken</strong> uit de collectie van de universiteitsbibliotheek bekijken. Zie voor meer informatie: <a href="https://skillnet.nl/data-eindsprint-cemrol/" target="_blank">skillnet.nl/data-eindsprint-cemrol</a>.<p>
</div>
