<div class="text-shadow">
  <p>Crowdsourcing the Republic of Letters: Help reconstruct the social network of European scholars and scientists in the period 1400-1800.</p>
</div>

<a class="major-button" href="/#/intro" onClick="window.scrollTo(0,0)">Get Started!</a>
<div class="message">
  <p>Op vrijdagmiddag 22 november van 15.15 tot 18.00 uur vindt alweer de tweede publieksmiddag van CEMROL plaats!<p>
  <p>De middag begint met een korte presentatie van de stand van zaken van het CEMROL-project. Om vrijwilligers die nog niet zo ervaren zijn met CEMROL te helpen gaan we daarna met zijn allen met CEMROL werken. We willen je vragen om je eigen laptop mee te nemen. Als je die niet hebt, kunnen we een leenlaptop voor je regelen. Daarna zullen we een vroegmoderne stadswandeling door Utrecht maken. De middag wordt afgesloten met een borrel.</p>
  <p>Programma:</p>
  <ul>
    <li>Presentatie: stand van zaken van het CEMROL-project</li>
    <li>Gezamenlijk met CEMROL werken</li>
    <li>Vroegmoderne stadswandeling</li>
    <li>Borrel</li>
  </ul>
  <p>De bijeenkomst begint op <a href="https://www.uu.nl/en/janskerkhof-2-3a" target="_blank">Janskerkhof 2-3</a>, zaal 117, van de Universiteit Utrecht. Als je hierbij aanwezig wilt zijn, willen we je vragen je uiterlijk <strong>15 november</strong> op te geven via <a href="mailto:skillnet@uu.nl">skillnet@uu.nl</a>. Geef daarbij ook aan <strong>of je een leenlaptop nodig hebt</strong>. Voel je vrij om andere geïnteresseerden mee te nemen (wel graag opgeven). De toegang is gratis. We hopen je op 22 november te zien!</p>  
</div>
