## A Brief Introduction to CEMROL

### Our Goal

CEMROL (Collecting Epistolary Metadata of the Republic of Letters) aims to reconstruct as much as possible of the correspondence network of scholars and scientists living in 15th, 16th, 17th and 18th centuries, mostly in Europe. For that, we need information about each letter: the name of the sender and of the recipient, the date of the letter, the place it was sent from, and ideally also the place it was addressed to. This is what we call metadata. Metadata is, in other words, information about letters, not their content. 
To divide the labor -- and to help ensure accuracy -- we've broken the work into 2 free-standing tasks. These tasks follow a sequence, but they can be performed independently (feel free to focus on the one you enjoy best).
### Task 1: Mark

First, we need to know where the metadata appear on the page before transcribing it. Therefore, you'll be identifying various pieces of information on the page. This is called marking. You won't be typing, just drawing boxes around words. You may see existing marks left by other users. Just pick up where they left off.

<div class="video-wrapper">
  <video width="640" height="360" loop autoplay src="/images/mark_task.mp4"></video>
</div>

### Task 2: Transcribe

Here you'll type out the words and numbers inside the boxes marked by your fellow volunteers. Please make sure to type out as exactly as possible what is on the page.

<div class="video-wrapper">
  <video width="640" height="360" loop autoplay src="/images/transcribe_task.mp4"></video>
</div>


### You may find you prefer one task over another, so try them all! All tasks are essential steps in the greater effort to unlock the history of the Republic of Letters! 

<div class="columns">
  <div class="column">
    <a class="major-button" href="/#/mark">Mark</a>
    Draw a box around key information on the documents (e.g. sender name, date, place). This does not involve typing.
  </div>
  <div class="column">
    <a class="major-button" href="/#/transcribe">Transcribe</a> 
Type out the text in fields marked by fellow volunteers. 
  </div>
</div>
