<div class="scribe-footer-credits">
  <div class="columns">
    <div class="column">
      <p>
        SKILLNET operates under Utrecht University’s strategic theme Institutions for Open Societies and contributes to the research focus area Cultures, Citizenship and Human Rights.
      </p>
      <a href="https://www.uu.nl/en/research/institutions-for-open-societies" target="_blank">
        <img src="/images/logo_open_societies.png" alt="Institutions for Open Societies" title="Institutions for Open Societies" />
      </a>
    </div>
    <div class="column">
      <p>
        This project has received funding from the European Research Council (ERC) under the European Union’s Horizon 2020 research and innovation programme (grant agreement No 724972).
      </p>
      <img src="/images/erc.png" alt="European Research Council" />
      <img src="/images/eu.jpg" alt="European Union" />
    </div>
  </div>
</div>
